.caixaImgUser{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.caixaImgUser .imgUser{
    width: 100%;
    height: 100%;
    border: 50%;
    display: flex;
}

.btnEditImgUser{
    position: absolute;
    font-size: 1.5em;
    bottom: 13px;
    right: 13px;
    background-color: var(--white1);
    border: 1px solid var(--black);
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    border: none;
    box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.342);
}

.btnEditImgUser:hover{
    transform: scale(.9);
}
