.pageOccurences{
    width: 100vw;
    display: flex;
}

.containerOccurrences{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px 30px 30px calc(20% + 30px);
}

.startPage{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.startPage span{
    font-size: 2.5em;
    font-weight: 500;
}

.iconAddRegister{
    background-color: var(--white1);
    border-radius: 50%;
    font-size: 1.8em;
    color: var(--color1);
}


.iconAddRegister:hover{
    transform: scale(1.1);
}

@media (max-width: 999px){

    .containerOccurrences{
        padding: 30px;
    }

}
