.btnLeaderCode{
    border-radius: 10px;
    padding: 10px;
    border: none;
    background-color: var(--color1);
    color: var(--white1);
    font-weight: 600;
    opacity: 80%;
}

.btnLeaderCode:hover{
    opacity: 100%;
}

.codeLeader{
    font-weight: 600;
    color: var(--color1);
}