.pageReports{
    width: 100vw;
    display: flex;
}

.containerReports{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px 30px 30px calc(20% + 30px);
}

.startPage{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.startPage span{
    font-size: 2.5em;
    font-weight: 500;
}

.iconAddReports{
    background-color: var(--white1);
    border-radius: 50%;
    font-size: 1.8em;
    color: var(--color1);
}

.iconAddReports:hover{
    transform: scale(1.1);
}

.listReport{
    display: flex;
    margin-bottom: 70px;
}

.listReport ul{
    list-style-type: none;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
    gap: 20px;
    transition: all ease .4s;
}

.listReport ul li{
    padding: 20px 30px;
    background-color: #F8F9FE;
    border-radius: 10px;
    box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.301);
}

.classReport{
    color: var(--color1);
}

.vazio{
    font-size: 1.5em;
    color: var(--color1);
}


@media (max-width: 999px){

    .containerReports{
        padding: 30px;
    }

}
