.pageHome{
    width: 100vw;
    display: flex;
}

.containerHome{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 30px 30px calc(20% + 30px);
}

.msgUser{
    font-size: 2.5em;
    font-weight: 400;
}

.msgUser span{
    font-size: em;
    font-weight: 600;
    color: var(--color1);
}

@media (max-width: 999px) {

    .containerHome{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px;
    }

}