.componentHeader{
    width: 20%;
    height: 100vh;
    position: fixed;
    background-color: var(--white1);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 15px;
    gap: 20px;
    box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.315);
    z-index: 10;
}

.containerLinksNavigate{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 10px;
}

.linkNavigate{
    width: 100%;
    text-decoration: none;
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.linkNavigate:hover{
    background-color: #ffffff;
    box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.082);
}

.linkNavigate.active{
    background-color: var(--white2);
    box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.082);
}

.linkNavigate.active .iconLinkNavigate{
    color: var(--color1);
}

.linkNavigate.active p{
    color: var(--color1);
}

.iconLinkNavigate{
    font-size: 1.6em;
    color: var(--gray);
}

.linkNavigate p{
    text-transform: uppercase;
    color: var(--gray);
    font-weight: 500;
}

@media (max-width: 999px) {

    .componentHeader {
        width: 100%;
        height: auto;
        position: fixed;
        bottom: 0;
        left: 0;
        flex-direction: row;
        padding: 10px 15px;
    }

    .containerLinksNavigate{
        flex-direction: row;
        gap: 5px;
    }
    
    .linkNavigate{
        flex-direction: column;
        gap: 0px;
        padding: 5px;
    }
    
    .linkNavigate p{
        font-size: .7em;
    }
    .linkNavigate.active{
        background-color: #ffffff00;
        box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0);
    }

}