.prevReports{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.prevReports .infos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prevReports .txt{
    color: #555555;
    font-size: 1.4em;
    font-weight: 600;
}

.prevReports .more{
    text-decoration: none;
    color: #555555;
}

.prevReports .more:hover{
    color: #000000;
}

.latestReports{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;
}

.latestReports li{
    padding: 20px 30px;
    background-color: #F8F9FE;
    border-radius: 10px;
    box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.301);
}

.titleReport{
    color: var(--color1);
}