.pageSearch{
    width: 100vw;
    display: flex;
}

.containerSearch{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px 30px 30px calc(20% + 30px);
}

.startPage{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputSearch{
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
}

.caixaRegisterSearch{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

.caixaRegisterSearch li{
    padding: 20px 30px;
    background-color: #F8F9FE;
    border-radius: 10px;
    box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.301);
}

.caixaRegisterSearch .link{
    text-decoration: none;
    color: var(--black);
}

.startPage span{
    font-size: 2.5em;
    font-weight: 500;
}

@media (max-width: 999px){

    .containerSearch{
        padding: 30px;
    }

}
